<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12 col-md-4 col-sm-12 col-xs-12">
      <div class="card p-4">
        <div class="d-flex">
          <h6 id="city" class="flex-grow-1">London</h6>
          <h6 id="time">16:08</h6>
        </div>
        <div class="d-flex flex-column temp mt-5 mb-3">
          <div class="input-group mb-3">
            <button id="mainbutton" class="btn btn-outline-secondary" type="button" id="button-addon1">Button</button>
            <input id='inputId' type="text" class="form-control" placeholder="" aria-label="Example text with button addon"
              aria-describedby="button-addon1">
          </div>

        </div>
        <div class="d-flex">
          <div class="temp-details flex-grow-1">
            <p class="my-1"> <img src="https://i.imgur.com/B9kqOzp.png" height="17px"> <span id="wind"> 40 km/h </span> </p>
            <p class="my-1"> <img src="images/percent.svg" height="17px"></i> <span id="wet"> 84 </span> </p>
            <p class="my-1"> <img src="images/pressure.svg" height="17px"> <span id="pressure"> 0.2h </span> </p>
          </div>
          <div>
            <h1 id="temp" class="mb-0 font-weight-bold" id="heading"> 13° C </h1> <span id="description" class="small grey">Stormy</span>
          </div>
          <img id="img" src="https://openweathermap.org/img/wn/02n@2x.png" width="100px">
        </div>

      </div>
    </div>
  </div>
</div>
