<div class="justify-content-center col-6 shadow-lg p-3 mb-5 mt-5 m-auto bg-body rounded">
<h3 class="text-center pt-3">Щебетильная</h3>
<form method="POST" action="/addEntry" class="p-3">
  
  <div class="form-floating mb-3">
    <textarea name="body" class="form-control" placeholder="Leave a body here" id="body"></textarea>
    <label for="body">твой щебет</label>
  </div>

  <button type="submit" class="btn btn-primary mb-3 mt-3">нащебетать</button>
</form>
</div>
