
<form class="col-4 m-auto mt-5" action="/registration" method="POST">
  <h2 class="text-center">Вход</h2>
  <div class="form-floating mb-3">
    <input name="name" type="text" class="form-control" id="inputEmail" aria-describedby="emailHelp">
    <label for="inputEmail" class="form-label">Имя</label>
    <div id="emailHelp" class="form-text">Введите ваше имя</div>
  </div>
      <div class="form-floating mb-3">
    <input name="email" type="text" class="form-control" id="inputEmail" aria-describedby="emailHelp">
    <label for="inputEmail" class="form-label">Почта</label>
    <div id="emailHelp" class="form-text">Введите вашу почту</div>
  </div>
  <div class="form-floating mb-3">
    <input name="password" type="password" class="form-control" id="inputPassword">
    <label for="inputPassword" class="form-label">Пароль</label>
    <div id="passwordHelp" class="form-text">Введите ваш пароль</div>
  </div>
  <div class="d-grid gap-2 m-auto">
    <button type="submit" class="btn btn-primary">Регистрация</button>
  </div>
</form>
